<ngb-carousel>
  <ng-template ngbSlide *ngFor="let image of images; let i = index">
    <div class="custom-carousel">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 mb-4 mb-md-0 text-center">
            <img [src]="image.src" alt="Slide" class="img-fluid" />
          </div>
          <div class="col-sm-12 col-md-6 text-center text-md-start">
            <div class="mt-0 mt-lg-5">
              <h2 class="text-white mb-3 mt-2 mt-md-0">
                Samples di
                <span [style.color]="textColors[i]">{{ image.sample }} </span>
                <span>{{ image.title }}</span>
              </h2>
              <p class="custom-text-carousel mb-3 d-none d-md-block">
                {{ image.description }}
              </p>
              <p class="custom-text-carousel-secondary mb-5 d-none d-lg-block">
                {{ image.subDescription }}
              </p>
              <a
                class="btn btn-carousel mt-3 mt-md-0"
                [style.background-color]="textColors[i]"
                >Esplora ora</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>

<!-- <div class="bg-body-black border-bottom">
  <div class="container custom-container">
    <div class="row">
      <div
        class="col-sm-12 col-md-6 mb-4 mb-md-0 text-white text-center text-md-start"
      >
        <p class="text-banner">
          Cerca nuovi sample, aggiungili ai tuoi preferiti ed esegui il download
          per poterli usare nelle tue produzioni!
        </p>
        <p class="text-banner-bold">Cosa Aspetti?</p>
        <p class="text-banner-bold">Effettua ora il login!</p>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a class="btn btn-purple">LOGIN</a>
      </div>
    </div>
  </div>
</div> -->

<!-- banner login -->
<div class="bg-body-black">
  <div class="container custom-container">
    <div class="d-flex flex-column align-items-center text-white text-center my-5">
      <p class="text-banner">
        Cerca nuovi sample, aggiungili ai tuoi preferiti ed esegui il download
        per poterli usare nelle tue produzioni!
      </p>
      <p class="text-banner-bold">Cosa Aspetti?</p>
      <a class="btn btn-purple">Effettua ora il login!</a>
    </div>
  </div>
</div>

<div class="bg-landing-page">
  <!-- DAW -->
  <div class="container custom-container">
    <div class="row mt-5 mb-lg-5">
      <div
        class="col-sm-12 col-md-6 mb-4 mb-md-0 text-white text-center text-md-start"
      >
        <div class="d-flex">
          <p class="text-banner">
            Tutti i samples sono pronti per essere usati nella tua DAW
            preferita!
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <div class="container">
          <div class="row">
            <div class="col-3 mb-4 mb-lg-0">
              <img
                src="../../../assets/img/daw/flstudio-piccolo.png"
                alt="fl-studio-logo"
                class="img-fluid img-responsive"
              />
            </div>
            <div class="col-3 mb-4 mb-lg-0">
              <img
                src="../../../assets/img/daw/ableton-white.png"
                alt="ableton-logo"
                class="img-fluid img-responsive"
              />
            </div>
            <div class="col-3 mb-4 mb-lg-0">
              <img
                src="../../../assets/img/daw/Logic_Pro_icon.png"
                alt="logic-logo"
                class="img-fluid img-responsive"
              />
            </div>
            <div class="col-3 mb-4 mb-lg-0">
              <img
                src="../../../assets/img/daw/REAPER_logo.png"
                alt="reaper-logo"
                class="img-fluid img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- store musicali sm -->
  <div class="d-md-none">
    <div class="container custom-container">
      <div class="row mb-5">
        <div
          class="col-sm-12 col-md-6 mb-4 mb-md-0 text-white text-center text-md-start"
        >
          <div class="d-flex flex-column">
            <p class="text-banner">
              Fai conoscere te e le tue produzioni suoi più grandi store
              musicali.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-6 mb-4 mb-lg-0">
                <img
                  src="../../../assets/img/store/Spotify_logo_with_text.svg.png"
                  alt="spotify-logo"
                  class="img-fluid img-responsive-store"
                />
              </div>
              <div class="col-sm-12 col-lg-6 mb-4 mb-lg-0">
                <img
                  src="../../../assets/img/store/Beatport_2021.svg.png"
                  alt="beatport-logo"
                  class="img-fluid img-responsive-store"
                />
              </div>
              <!-- <div class="col-sm-12 col-lg-4 mb-4 mb-lg-0">
              <img src="../../../assets/img/store/Soundcloud-logo.png" alt="soundcloud-logo" class="img-fluid img-responsive-store"/>
            </div> -->
            </div>
            <p class="text-white text-center text-banner-bold">
              Pronto a far rumore?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- store musicali -->
  <div class="d-none d-md-block">
    <div class="container custom-container">
      <div class="row my-5">
        <div class="col-sm-12 col-md-6 text-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-6 mb-4 mb-lg-0">
                <img
                  src="../../../assets/img/store/Spotify_logo_with_text.svg.png"
                  alt="spotify-logo"
                  class="img-fluid img-responsive-store"
                />
              </div>
              <div class="col-sm-12 col-lg-6 mb-4 mb-lg-0">
                <img
                  src="../../../assets/img/store/Beatport_2021.svg.png"
                  alt="beatport-logo"
                  class="img-fluid img-responsive-store"
                />
              </div>
              <!-- <div class="col-sm-12 col-lg-4 mb-4 mb-lg-0">
              <img src="../../../assets/img/store/Soundcloud-logo.png" alt="soundcloud-logo" class="img-fluid img-responsive-store"/>
            </div> -->
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-6 mb-4 mb-md-0 text-white text-center text-md-start"
        >
          <div class="d-flex flex-column">
            <p class="text-banner">
              Fai conoscere te e le tue produzioni suoi più grandi store
              musicali.
            </p>
            <p class="text-banner-bold">Pronto a far rumore?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
