.form-container {
  width: 80%;
}

.row-form {
  border-radius: 10px;
  background-color: var(--purple);
}

.col-right {
  border-radius: 10px;
  background-color: #fff;
  color: var(--black);
}

a {
  color: var(--purple);
}
