.form-container {
  width: 80%;
}

.row-form {
  border-radius: 10px;
  background-color: var(--purple);
}

.col-right {
  border-radius: 10px;
  background-color: #fff;
  color: var(--black);
}

a {
  color: var(--purple);
}

@media screen and (min-width: 768px) {
  .wrap-container {
    height: 583px;
  }
}

@media screen and (min-width: 1024px) {
  .wrap-container {
    height: 670px;
  }
}
