<div class="bg-body-gradient">
  <div class="container py-5">
    <!-- ricerca sample -->
    <div class="mb-5">
      <div class="container text-center">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Inserisci il codice di autenticazione"
            formControlName="code"
            (input)="searchSample($event)"
          />
          <label for="floatingInput">Cerca i tuoi samples</label>
        </div>
        <!-- <button class="btn btn-purple my-3" (click)="searchSample()">
          Cerca
        </button> -->
      </div>
    </div>

    <!-- risultato della ricerca -->

    <!-- load sample oninit -->
    <div class="container border-top">
      <div class="row justify-content-center mt-3">
        <div class="col-12 mb-3" *ngFor="let sample of list">
          <app-sample [data]="sample"></app-sample>
        </div>
      </div>
    </div>
  </div>
</div>
