p,
span {
  font-weight: 600;
}

.btn-card {
  color: #fff;
  background-color: var(--purple);
  font-weight: 600;
  font-size: 1.2rem;
}

// audio
audio::-webkit-media-controls-play-button {
  background-color: var(--purple);
  border-radius: 50%;
}
